fastapi==0.135.2
uvicorn[standard]==0.42.0
pydantic==2.12.5

python-dotenv==1.2.2
PyYAML==6.0.3
GitPython==3.1.46
graphviz==0.21

langchain==1.2.14
langchain-openai==1.1.12
langgraph==1.1.4
openai==2.30.0
psycopg[binary]==3.3.3
tree_sitter==0.25.2
tree_sitter_language_pack==1.4.1
semgrep==1.157.0
loguru==0.7.3
